$color-font-main: #343030;
$color-background: #f6f3f3;
$color-font-hover: #845757;
$color-brown: #403432;
$color-brown-light: #776763;
$color-brown-light2: #c1b4b1;
$color-grey: #a0a0a0;
$color-light-grey: #e7e7e7;
